section {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  height: 25vh;
  border-bottom: solid 0.5px;
  border-color: var(--color-water-10);
}

.card__name {
  margin-top: 20px;
}

svg {
  position: absolute;
  top: 58px;
  right: 10px;
}

p {
  align-self: center;
}
